<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/palindromes/create">Create Palindrome</a></h3>
      <h1>Palindrome List</h1>
      <% if(palindromes.length>0) { %>
      <table>
        <tbody>
          <% for(var i=0; i<palindromes.length;i++) { %>
            <tr>
              <td><%= palindromes[i].palindrome%></td>
              <td><%= palindromes[i].updated_at%></td>
              <td><%= Date()%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
        <% } else { %>
        <div>No palindromes found.</div>
      <% } %>
    </div>
  </body>
</html>
