<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/create">Create Palindrome</a></h3>
      <h1>Palindrome List</h1>
      <% if(palindromes.length>0) { %>
      <table>
        <tbody>
          <td class="palindrome-title"> Palindrome:</td>
          <td class="time-stamp"> Time: </td>
          <% for(var i=0; i<palindromes.length;i++) { %>
            <tr>
              <td><div class="palindrome"><%= palindromes[i].palindrome%></div></td>
              <td><div class="time"><%= palindromes[i].updated_at.toLocaleTimeString()%></div></td>
            </tr>
          <% } %>
        </tbody>
      </table>
        <% } else { %>
        <div class='no-palindromes'>No palindromes found.</div>
      <% } %>
    </div>
  </body>
</html>
